//COLORS AND CUSTOM CLASSES

@blue: #3B5998;

.horizontal-separator {
  width: 600px;
  height: 35px;
  margin: 0 auto;
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 45%;
    height: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #FFF;
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.line {
  width: 30px;
  height: 30px;
  background-color: @blue;
  transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

//*******************************

@font-face {
  font-family: "Open Sans";
  src: url("/library/fonts/OpenSansRegular/OpenSans-Regular.eot");
  src: url("/library/fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
  url("/library/fonts/OpenSansRegular/OpenSans-Regular.woff") format("woff"),
  url("/library/fonts/OpenSansRegular/OpenSans-Regular.ttf") format("truetype"),
  url("/library/fonts/OpenSansRegular/OpenSans-Regular.svg#JournalRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans";
}

.fa {
  vertical-align: middle;
}

.content {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

section#main {
  min-height: 800px;
  background: url("/library/img/bg-2.jpg") no-repeat center;
  background-size: cover;
  .content {
    min-height: 800px;
  }
  .text-box {
    color: #FFF;
    width: 600px;
    height: 450px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    h1 {
      color: #FFF;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 6em;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 4.8em;
      font-style: italic;
      color: #FFF;
    }
    p {
      color: #FFF;
      text-align: center;
      font-size: 3.6em;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
  .social-links {
    text-align: center;
    margin: 30px auto;
    a {
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 58px;
      text-align: center;
      box-sizing: border-box;
      border: 1px solid #FFF;
      border-radius: 50%;
      margin: 0 15px;
      transition: .4s;
      &:hover {
        border-color: @blue;
        background-color: @blue;
        .fa {
          opacity: 1;
        }
      }
    }
    .fa {
      font-size: 2.5em;
      color: #FFF;
      opacity: .7;
      transition: .4s;
    }
  }
  .arrow-down {
    display: inline-block;
    font-size: 3em;
    color: #FFF;
    text-decoration: none;
  }

}

section#navbar {

  .brand {
    float: left;
    width: 200px;
    height: 85px;
    line-height: 85px;
    background-color: @blue;
    font-size: 4em;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    text-align: center;
  }
  ul {
    float: right;
    padding: 30px 0;
    li {
      display: inline-block;
      border-right: 1px solid #B7B7B7;
      &:last-child {
        border-right: none;
      }
      a {
        display: block;
        color: #5F5F5F;
        text-decoration: none;
        transition: .4s;
        font-size: 1.4em;
        line-height: 25px;
        padding: 0 15px;
        &:hover {
          color: @blue;
        }
        .fa {
          font-size: 1.5em;
        }
      }
    }
  }
}